<meta id="viewport" name="viewport" content="width=device-width,minimum-scale=0.8,maximum-scale=0.8,initial-scale=0.8,user-scalable=no">
<script src="https://cdn.bootcss.com/limonte-sweetalert2/7.21.1/sweetalert2.all.min.js"></script>
<link href="https://cdn.bootcss.com/limonte-sweetalert2/7.21.1/sweetalert2.min.css" rel="stylesheet">
<style>
    .swal2-modal{
        max-width: 80% !important; 
    }

    .swal2-title {
        font-size: 1.5rem !important; 
    }
</style>
<div>
<%var x = parseInt(100*Math.random())+1;%>
<% for (var i = 0; i <= 100; ++i) {%>
<% if (i===x){%>
<script>
swal('\u672a'+'\u767b\u5f55\u002c'+'\u8bf7'+'\u5148'+'\u767b\u5f55').then(function(){
    top.location="/vote/<%=ranStr[99]%>/"
})
</script>
<% }%><div style="display: none;"><%=ran.ranString(100)%></div><% }%> 
</div>
