<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title class="<%=ranStr[4]%>"><%= function(){var x = ranRp('请输入验证码');return x.key+':'+x.val}()%></title>
  <link rel="stylesheet" href="/bootstrap/css/<%=ranStr[20]%>">
</head>
<body hidden>
  <p style="<%=cssfmt('font-size: .87em;padding: 0px 10px;padding-top: 14px;')%>" class="<%=ranStr[4]%>"><%= function(){var x = ranRp('当前网络存在异常,请完成验证:');return x.key+':'+x.val}()%></p>
  <div style="<%=cssfmt('width:100%;padding: 0px 10px;box-sizing: border-box;float: left;')%>"><img id="pic" src="" style="<%=cssfmt(' width: 130px;height: 53px;display:inline-block;float:left;')%>"><a style="<%=cssfmt('line-height: 50px;display:inline-block;float:left;font-size: .9rem;color:#1284D9;margin-left:15px;')%>"
      onclick="<%=ranStr[12]%>()" class="<%=ranStr[4]%>"><%= function(){var x = ranRp('换一张');return x.key+':'+x.val}()%></a></div>
  <div style="<%=cssfmt('width: 100%;box-sizing:border-box;height: 45px;float: left;border-top: 1px solid #AFB0B2;border-bottom: 1px solid #AFB0B2;background-color: #fff;font-size: 14px;margin-top: 20px;')%>"><input type="text" id="<%=ranStr[9]%>" class="<%=ranStr[9]%> <%=ranStr[4]%> <%=ranStr[6]%>" value="" placeholder="<%= function(){var x = ranRp('请输入验证码');return x.key+':'+x.val}()%>"></div>
  <div style="<%=cssfmt('width:100%;float:left;')%> "><a class="aa <%=ranStr[4]%>" onclick="<%=ranStr[11]%>()"><%= function(){var x = ranRp('提交');return x.key+':'+x.val}()%></a></div>
  <p style="<%=cssfmt('padding: 0px 10px;')%> "><a style="<%=cssfmt('float:left;font-size: .1rem;')%>" class="<%=ranStr[4]%>"><%= function(){var x = ranRp('为什么要进行安全验证');return x.key+':'+x.val}()%></a>
    <a style="<%=cssfmt(' float:right;font-size: .1rem;')%>" class="<%=ranStr[4]%>"><%= function(){var x = ranRp('忘记密码');return x.key+':'+x.val}()%></a>
  </p>
</body>
<div class="<%=ranStr[0]%>" id="<%=ranStr[1]%>">
  <div class="<%=ranStr[5]%>">
    <div class="tip <%=ranStr[4]%>" id="<%=ranStr[2]%>"><%= function(){var x = ranRp('验证失败,请重试');return x.key+':'+x.val}()%></div>
    <div class="<%=ranStr[3]%>"><a class=" <%=ranStr[4]%>" onclick="<%=ranStr[8]%>()"><%= function(){var x = ranRp('确认');return x.key+':'+x.val}()%></a>
    </div>
  </div>
</div>
<script src="/jquery/<%=ranStr[2]%>" type="text/javascript"></script>
</html>