<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">首页</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                列表(建议QQ空间模板和QQ邮箱的模板用不同的URL,以免QQ空间弄死域名导致QQ邮箱也死)
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
        <% for (var i =0; i< urls.length; ++i){%>
            <!--<input type="text" class="form-control" value="http://<%=func(_uid)%>.<%=urls[i].domain%>/<% if (isMail===true) {%>m<%}else{%>t<%}%>">-->
            <input type="text" class="form-control" value="http://<%=func(_uid)%>.<%=urls[i].domain%>/">
        <%}%>
            </div>
        </div>
    </div>
</div>
