body {
    background: rgb(239, 239, 245);
    font-size: 16px;
    padding: 0;
    margin: 0;
  }

  .<%=ranStr[9]%> {
    display: inline;
    box-sizing: border-box;
    padding-right: 25px;
    width: 100%;
    height: 42px;
    border: none;
    font-weight: bold;
    font-size: 1.06em;
    padding: 0px 20px;
  }

  .aa {
    display: block;
    height: 44px;
    line-height: 44px;
    border-radius: 6px;
    font-size: 1.06em;
    color: #fff;
    text-decoration: none;
    background-color: #0079FF;
    text-align: center;
    margin: 10px 10px;
  }

  a {
    color: #1284D9;
  }

  .<%=ranStr[0]%> {
    display: none;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    background: rgba(0, 0, 0, .3);
  }

  .<%=ranStr[5]%> {
    position: relative;
    top: 50%;
    margin: -50px 25px 0;
    border-radius: 4px;
    background-color: #fff;
  }

  .<%=ranStr[5]%> .tip {
    padding: 17px 0;
    color: #000;
    text-align: center;
  }

  .<%=ranStr[5]%> .<%=ranStr[3]%> a {
    display: block;
    border-top: 1px solid #B2B2B2;
    padding: 12px 0;
    text-align: center;
    text-decoration: none;
    color: #157EFB;
    font-weight: bold;
    font-size: 18px;
  }